body {
    background-color: #eee3e3;
    font-family: Arial, sans-serif;
}
h1 {
    color: blue;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 40%;
}
tr:hover {background-color: #D6EEEE;}
